<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened >
    <mat-list style="cursor: pointer;" >

      <div>
        <mat-list-item [routerLink]="['/usuarios/editar']" >
          <mat-icon>admin_panel_settings</mat-icon> Minhas Informações
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <div>
        <mat-list-item [routerLink]="['/cartoes/listar']" >
          <mat-icon>credit_card</mat-icon> Cartões
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <div>
        <mat-list-item [routerLink]="['/ganhos/listar']" >
          <mat-icon>paid</mat-icon> Ganhos
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <div>
        <mat-list-item [routerLink]="['/despesas/listar']" >
          <mat-icon>store</mat-icon> Despesas
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="isAdministrador">
        <mat-list-item [routerLink]="['/categorias/listar']" >
          <mat-icon>reorder</mat-icon> Categorias
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="isAdministrador">
        <mat-list-item [routerLink]="['/funcoes/listar']" >
          <mat-icon>supervised_user_circle</mat-icon> Funções
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
