.login-formulario {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mat-form-field.mat-form-field {
  width: 500px;
}

.botoes {
  padding-top: 30px;
  padding-bottom: 30px;
}

.formulario {
  padding-top: 25px;
}

.texto-erros {
  font-weight: 900;
  color: #c0392b;
}

.div-erros {
  padding: 20px;
}

.card-erros {
  padding-top: 30px;
  padding-bottom: 30px;
}

.row-logo {
  padding-bottom: 30px;
}

.img-logo {
  margin: auto;
  display: block;
}
